@font-face
  font-family: 'Montserrat'
  src: url('/fonts/montserrat.woff2') format('woff2')
  font-weight: 400 700
  font-style: normal

@font-face
  font-family: 'Nunito'
  src: url('/fonts/nunito.woff2') format('woff2')
  font-weight: 400 800
  font-style: normal