$uef: rgba(45,120,178, .23)
$cybran: rgba(223,45,14, .2)
$aeon: rgba(25, 179, 64, 0.23)
$seraphim: rgba(252, 180, 25, 0.2)
$nomads: rgba(225,125,35, .2)

$factions:('uef': $uef,'cybran': $cybran,'aeon': $aeon,'seraphim': $seraphim,'nomads': $nomads)

$orange: #fda005