$uef: rgba(45,120,178, .2)
$cybran: rgba(223,45,14, .2)
$aeon: rgba(10,157,47, .2)
$seraphim: rgba(241,194,64, .2)
$nomads: rgba(225,125,35, .2)

$factions:('uef': $uef,'cybran': $cybran,'aeon': $aeon,'seraphim': $seraphim,'nomads': $nomads)

$uef2: rgba(45,120,178, .2)
$cybran2: rgba(223,45,14, .2)
$aeon2: rgba(37, 128, 60, 0.2)
$seraphim2: rgba(252, 180, 25, 0.2)
$nomads2: rgba(225,125,35, .2)

$factions2:('uef': $uef2,'cybran': $cybran2,'aeon': $aeon2,'seraphim': $seraphim2,'nomads': $nomads2)

$orange: #fda005