name: Build

on:
  workflow_dispatch:
  workflow_call:
  repository_dispatch:
    types: [faf_blueprints_updated]

permissions:
  contents: read

jobs:
  generate:
    uses: ./.github/workflows/generate.yaml

  build:
    runs-on: ubuntu-latest
    needs: generate
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download generated data
        uses: actions/download-artifact@v4
        with:
          name: etfreeman-db-generated-data

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build Vue app
        run: npm run build
        env:
          GITHUB_ACTIONS: true

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: etfreeman-db-dist
          path: './dist'
          retention-days: 1
