name: Deploy (on push to main)

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    uses: ./.github/workflows/build.yaml

  deploy:
    name: Deploy to gh-pages branch
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout/tree/v4/
      - name: Checkout gh-pages branch
        uses: actions/checkout@v4
        with:
          ref: gh-pages

      # https://github.com/actions/download-artifact/tree/v4/
      - name: Download recent build artifact
        uses: actions/download-artifact@v4
        with:
          name: etfreeman-db-dist
          path: ./

      # Each file is given a (random) hash pre-pended to the filename to prevent caching
      # issues. Because of that we first need to remove all existing hashed files as otherwise
      # they will keep accumulating forever. As much as this fits the narrative of the community
      # (Forged Alliance >Forever<) it's not what we want here.
      - name: Remove hashed files from previous deployment
        run: |
          git rm -r --ignore-unmatch assets/
          git rm -f --ignore-unmatch *.js *.css

      # By pushing the changes to the gh-pages branch, the changes will be deployed to the
      # website. The website is hosted on GitHub Pages and is (at the moment of writing)
      # available at:
      # - https://faforever.github.io/etfreeman-db/
      - name: Check for changes
        id: check_changes
        run: |
          git add .
          if git diff --cached --quiet; then
            echo "has_changes=false" >> $GITHUB_OUTPUT
          else
            echo "has_changes=true" >> $GITHUB_OUTPUT
          fi

      - name: Commit and push to gh-pages
        if: steps.check_changes.outputs.has_changes == 'true'
        run: |
          git config user.name "FAForever"
          git config user.email "admin@faforever.com"
          git commit -m "Deploy etfreeman-db from main branch push"
          git push origin gh-pages
