[data-tooltip]
  position: relative

  [data-tooltip-target]
    text-decoration: underline dotted
    text-underline-offset: 3px
    padding-bottom: 4px

  &:not(:has([data-tooltip-target]))
    text-decoration: underline dotted
    text-underline-offset: 4px

  &[data-tooltip-params*=humble]
    text-decoration-color: rgba(255,255,255,.3)

  &:hover::after
    content: attr(data-tooltip)
    position: absolute
    z-index: 100
    background: #333
    padding: 5px
    border-radius: 5px
    font-size: var(--tooltipfontsize)
    font-weight: 400
    color: #fff
    line-height: 1.25
    white-space: pre-line

$tooltip-mods: (big: (width: max-content, max-width: 250px, padding: 8px), widest: (width: max-content, max-width: 350px, padding: 8px, font-size: 13px), top: (bottom: calc(100% + 5px)), bottom: (top: calc(100% + 5px)), right: (left: 0), left: (right: 0), center: (left: 50%, transform: translateX(-50%)))

@each $name, $styles in $tooltip-mods
  [data-tooltip-params*="#{$name}"]:hover::after
    @each $prop, $val in $styles
      #{$prop}: $val
